.header{
    .navbar{
        .navbar-toggler{
            border: none;
        }
        .collapse{
            .navbar-nav{
                .nav-item{
                    margin-right: 12px;
                    .nav-link{
                        color: $dark;
                        &.active{
                            color: $primary;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover a{
                        color: $primary;
                    }
                }
            }
        }
    }
}