//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




//Base Colors
$primary:#FD6F00;
$white:#fff;
$dark:#000000;
$blue:#2196F3;
$red:#F44336;
$indigo:#3F51B5;
$success:#4CAF50;
$warning:#FFEB3B;
$gray:#9E9E9E;


//Primary
$primary-100:#ffcfb0;
$primary-200:#ffb78a;
$primary-300:#ff9654;
$primary-400:#ff8233;
$primary-500:#ff6300;
$primary-600:#e85a00;
$primary-700:#b54600;
$primary-800:#8c3600;